*{
	font-family: Courier New;
	color: white;
	margin: 0;
	overflow-x: none;
}
html{
	scroll-behavior: smooth;
}

p{
	font-size: 20px;
}

#notification{
	display: flex;
	text-align: center;
}

#desc{
	font-size: 20px;
	text-align: center;
}

#discordimg{
	text-decoration: none;
	background: no-repeat;
	padding: 0;
	margin: 0;
}
#up #discordimg{
	text-decoration: none;
	background: no-repeat;
	padding: 0;
	margin: 0;
}

a{
	margin: 50px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 30px;
	padding: 10px;
	justify-content: center;
	text-align: center;
	background-color: #090b1a;
	color: white;
	text-decoration: none;
}
h1{
	font-weight: normal;
	color: 
}
h2{
	font-weight: normal;
	color: #d12106;
	font-size: 50px;
	text-align: center;
	padding: 40px;
}


::-webkit-scrollbar{
		background:#090b1a; 
}
::-webkit-scrollbar-thumb{
		background: #00ced1;
}
strong{
	color: #3ad676;
	font-weight: normal;
}

body{
	overflow-x: hidden;
	overflow-wrap: normal;
	background-color: #0c0f24;
}

#content{
	font-size: 30px;
	padding-top: 30%;
	margin-left: 0px;
	padding-left: 0px;
}
#title:hover{
	cursor: pointer;
}
#title{
	transition: color 3s;
}
#normal{
	z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #090b1a;
	font-size: 50px;
	justify-content: center;
	height: 100%;
	width:100%;
	position: fixed;
	transition: all 0.3s;
}

#logo {
	display: flex;
	background-color: #201b33;
	background: no-repeat;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo img {
	margin-left: 40px;
	padding: 10px;
}
#logo img:hover{
	cursor: pointer;
}
#discordimg{
	text-decoration: none;
}
#normal p{
	font-size: 100px
}

#normal ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
}

#normal ul li{
	text-align: center;
	width: 500px;
	background-color: #0c0f24;
	padding: 10px 25px 25px 25px;
	margin: 10px 10px; 
}
#normal ul li:hover{
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.3s;
}

#up{
	z-index: 20;
	background-color: #090b1a;
	display: flex;
	width: 100%;
	height: 12%;
	position: fixed;
	transition: all 0.3s;
	align-items: left;
	display: flex;
	justify-content: left;
	align-items: center;
}

#up ul{
	position: absolute;
	transform: scale(0);
	transition: all 0s;
}

#up #logo{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 0;
	position: absolute;
	right: 0;
	padding: 20px;
}
#up #logo img{
	width: 70%;
	height: 70%;
	margin: 0;
	padding: 0;
}

#up p{
	font-size: 70px;
	padding: 20px;
}

#cat-display{
	display: flex;
	overflow: auto;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}
#cat-display li{
	align-items: center;
	justify-content: left;
	list-style: none;
	min-width: 100%
	margin-left: 0;
	margin-right: 10%;
	padding: 10px 20px 60px 20px;
}

#cat-display h1{
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 30px;
	display: inline-flex;
	background-color:#d12106;
	min-width: auto;
	padding: 10px;
	margin: 15px;
	margin-left: 0;
}

#events li{
	background-color: #090b1a;
	margin: 15px;
	text-align: left;
	align-items: left;
	font-size: 25px;
	color: #d12106;
	justify-content: left;
}
#events li p{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
#events li img{
	max-height: 150px;
	max-width: 150px;
	padding: 20px;
}

#theme{
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	background-color: #0c0f24;
	transition: all 0.5s;
	scroll-behavior: smooth;
}
#theme #first{
	margin-left: 11%;
}
#theme li{
	font-style: italic;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;
	min-width: 70%;
	background-color: #090b1a;
}
#ideal{
	margin-left: 9%;
	margin-right: 9%;
}
#theme #last{
	min-width: 6%;
	max-width: 8%;
	background-color: none;
}
#theme li img{
	max-width: 100%;
	max-height: 100%;
}

#right{
	z-index: 10;
	padding-right: 15px;
	right: 0;
	position: absolute;
	padding-top: 120px;
}
#left{
	z-index: 10;
	left: 0;
	position: absolute;
	padding-top: 120px;
}
#timer{
	margin-top: 50px;
	margin-left: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#timer p{
	text-align: center;
}
#timer #demo{
	font-size: 70px;
	color: #d12106;
}
iframe{
	margin: 30px;
	align-self: center;
	min-width: 95%;
	min-height: 95%;
	border-radius: 30px;
}
#tag{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}
#tag li{
	background-color: #0c0f24;
	border-radius: 20px;
	color: white;
	padding: 10px;
	font-size: 18px;
}
#events p{
	font-size: 20px;

}

#events a{
	background-color: #0c0f24;
	color: white;
	position: inherit;
	justify-content: left;
	align-items: left;
	font-size: 20px;
	margin: 0px;
	padding: 10px;
}

#team-span{
	min-width: 96%;

}
#exe
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	background-color: #090b1a;
}
#exe li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 0;
	margin: 0;
}
#team figure{
	text-align: center;
}
#team figure figcaption{
	padding-top: 20px;
}

#team li ul{
	margin-bottom: 20px;
}
#team p{
	color: #dba01f;
	padding: 25px;
	background-color:#04050d;
}
#cfg
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin-right: 0;
	min-width: 100%;
	padding: 0;
	background-color: #090b1a;
	box-sizing: 
}
#cfg li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
	min-width: 0;
	display: block;
}
#cfg p{
	color: #dba01f;
	padding: 20px;
	background-color: #04050d;
}
#xml
{
	flex-wrap: wrap;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin-right: 0;
	min-width: 100%;
	padding: 0;
	background-color: #090b1a;
	margin-bottom: 0;
}
#xml li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
	min-width: 0;
	display: block;
}
#xml p{
	color: #dba01f;
	background-color: #0c0f24;
}



#calendar
{
	display: flex;
	overflow-x: scroll;
	flex-direction: row;
}

#date-box{
	display: flex;
	flex-direction: column;
}

#date-box #date{
		width: 100px;
		text-align: left;
}
#date-box #ondate{
	text-align: right;
	color: #d12106;
	font-size: 20px;
	width: 300px;
}

#date-box #img{
	height: 100px;
	padding: 30px;
}

#date-box #img img{
	max-width: 100%;
	max-height: 100%;
}

#calendar li{
	margin: 20px;
	display: block;
	background-color: #090b1a;
}

img.icon{
	width: 200px;
	height: 200px;
	filter: invert(60%) sepia(35%) saturate(2849%) hue-rotate(138deg) brightness(100%) contrast(101%);
}

#register{
	align-items: center;
	align-content: center;
	justify-content: space-around;
}
#register h2{
	text-align: left;
	font-size: 40px;
}
#options{
	display: flex;
	flex-direction: row;
}
#options img{
	max-width: 60%;
	max-height: 60%;
	margin: 20px;
	padding: 0;
}

#options li{
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #090b1a;
	margin: 30px;
}
#options li:hover{
	opacity: 0.5;
	transition: all 0.3s;
	cursor: pointer;
}
#reg-span{
	min-width: 100%;
	display: flex;
	justify-content: space-around;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
	min-width: 100%;
	background-color: #090b1a;
	align-items: center;
	padding: 30px;
}
footer img{
	margin-left: 18px;
}


