*{
	font-family: Courier New;
	color: white;
	margin: 0;
}

h1{font-weight: normal;
	color: 
}

strong{
	color: #22b536;
	font-weight: normal;
}

body{
	background-color: #0f0f0f;
}

#content{
	font-size: 30px;
	padding-top: 30%;
	margin-left: 0px;
	padding-left: 0px;
}

#normal{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000000;
	font-size: 50px;
	justify-content: center;
	height: 100%;
	width:100%;
	position: fixed;
	transition: all 0.3s;
}

#logo {
	display: flex;
	background-color: #201b33;
	background: no-repeat;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo img {
	margin-left: 40px;
	padding: 10px;
}
#normal p{
	font-size: 100px
}

#normal ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
}

#normal ul li{
	text-align: left;
	width: 500px;
	background-color: #0f0f0f;
	padding: 10px 25px 25px 25px;
	margin: 10px 10px; 
}
#normal ul li:hover{
	opacity: 0.5;
	transition: all 0.3s;
}

#up{
	background-color: #000000;
	display: flex;
	width: 100%;
	height: 12%;
	position: fixed;
	transition: all 0.3s;
	align-items: left;
	display: flex;
	justify-content: left;
	align-items: center;
}

#up ul{
	position: absolute;
	transform: scale(0);
	transition: all 0s;
}

#up #logo{
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	margin-right: 0;
	position: absolute;
	right: 0;
	padding: 20px;
}
#up #logo img{
	width: 70%;
	height: 70%;
	margin: 0;
	padding: 0;
}

#up p{
	font-size: 70px;
	padding: 20px;
}

#cat-display{
	display: inline-flex;
	overflow: auto;
	flex-direction: column;
}
#cat-display li{
	list-style: none;
	min-width: 100%
	margin-left: 0;
	margin-right: 10%;
	padding: 10px 20px 60px 20px;
}

#cat-display h1{
	display: inline-block;
	background-color: #000000;
	min-width: auto;
	padding: 10px;
	margin: 15px;
	margin-left: 0;
}

#events li{
	background-color:  #000000;
	margin: 15px;
	color: #dba01f;
	justify-content: left;
}

#tag{
	display: flex;
	flex-direction: row;
}
#tag li{
	background-color: #0f0f0f;
	border-radius: 20px;
	color: white;
	padding: 10px;
	font-size: 20px;
}
#events p{
	font-size: 30px;
}

#exe
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	background-color: #000000;
}
#exe li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 0;
	margin: 0;
}
#team figure{
	text-align: center;
}
#team figure figcaption{
	padding-top: 20px;
}

#team li ul{
	margin-bottom: 20px;
}
#team p{
	color: #dba01f;
	padding: 20px;
	background-color:#121212;
}
#cfg
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin-right: 0;
	min-width: 100%;
	padding: 0;
	background-color: #000000;
	box-sizing: 
}
#cfg li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
	min-width: 0;
	display: block;
}
#cfg p{
	color: #dba01f;
	padding: 20px;
	background-color: #121212;
}


