*{
	font-family: Courier New;
	color: white;
	margin: 0;
}

p{
	font-size: 20px;
}
h1{font-weight: normal;
	color: 
}
h2{
	font-weight: normal;
	color: #d12106;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}
::-webkit-scrollbar{
		background:#090b1a; 
}
::-webkit-scrollbar-thumb{
		background: #00ced1;
}
strong{
	color: #3ad676;
	font-weight: normal;
}

body{
	overflow-x: hidden;
	overflow-wrap: normal;
	background-color: #0c0f24;
}

#content{
	font-size: 30px;
	padding-top: 30%;
	margin-left: 0px;
	padding-left: 0px;
}
#title:hover{
	cursor: pointer;
}
#title{
	transition: color 3s;
}
#normal{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #090b1a;
	font-size: 50px;
	justify-content: center;
	height: 100%;
	width:100%;
	position: fixed;
	transition: all 0.3s;
}

#logo {
	display: flex;
	background-color: #201b33;
	background: no-repeat;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo img {
	margin-left: 40px;
	padding: 10px;
}
#normal p{
	font-size: 100px
}

#normal ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
}

#normal ul li{
	text-align: left;
	width: 500px;
	background-color: #0c0f24;
	padding: 10px 25px 25px 25px;
	margin: 10px 10px; 
}
#normal ul li:hover{
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.3s;
}

#up{
	background-color: #090b1a;
	display: flex;
	width: 100%;
	height: 12%;
	position: fixed;
	transition: all 0.3s;
	align-items: left;
	display: flex;
	justify-content: left;
	align-items: center;
}

#up ul{
	position: absolute;
	transform: scale(0);
	transition: all 0s;
}

#up #logo{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 0;
	position: absolute;
	right: 0;
	padding: 20px;
}
#up #logo img{
	width: 70%;
	height: 70%;
	margin: 0;
	padding: 0;
}

#up p{
	font-size: 70px;
	padding: 20px;
}

#cat-display{
	display: inline-flex;
	overflow: auto;
	width: 100%;
	flex-direction: column;
}
#cat-display li{
	list-style: none;
	min-width: 100%
	margin-left: 0;
	margin-right: 10%;
	padding: 10px 20px 60px 20px;
}

#cat-display h1{
	font-size: 30px;
	display: inline-block;
	background-color:#d12106;
	min-width: auto;
	padding: 10px;
	margin: 15px;
	margin-left: 0;
}

#events li{
	background-color: #090b1a;
	margin: 15px;
	font-size: 25px;
	color: #d12106;
	justify-content: left;
}
#events li img{
	max-height: 200px;
	max-width: 200px;
}

#theme{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	background-color: #0c0f24;
}
#theme li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 20px;
	margin-right: 13%;
	min-width: 70%;
	min-height: 70%;
	background-color: #090b1a;
}
#theme li img{
	max-width: 100%;
	max-height: 100%;
}
#theme #first{
	margin-left: 12%;
	margin-right: 13%;
}
#timer{
	margin-top: 50px;
	margin-left: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#timer p{
	text-align: center;
}
#timer #demo{
	font-size: 70px;
	color: #d12106;
}
#tag{
	display: flex;
	flex-direction: row;
}
#tag li{
	background-color: #0c0f24;
	border-radius: 20px;
	color: white;
	padding: 10px;
	font-size: 18px;
}
#events p{
	font-size: 20px;
}

#exe
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	background-color: #090b1a;
}
#exe li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 0;
	margin: 0;
}
#team figure{
	text-align: center;
}
#team figure figcaption{
	padding-top: 20px;
}

#team li ul{
	margin-bottom: 20px;
}
#team p{
	color: #dba01f;
	padding: 25px;
	background-color:#04050d;
}
#cfg
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin-right: 0;
	min-width: 100%;
	padding: 0;
	background-color: #090b1a;
	box-sizing: 
}
#cfg li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
	min-width: 0;
	display: block;
}
#cfg p{
	color: #dba01f;
	padding: 20px;
	background-color: #04050d;
}
#xml
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	margin-right: 0;
	min-width: 100%;
	padding: 0;
	background-color: #090b1a;
	box-sizing: 
}
#xml li{
	object-fit: contain;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
	min-width: 0;
	display: block;
}
#xml p{
	color: #dba01f;
	padding: 20px;
	background-color: #04050d;
}

#calendar
{
	display: flex;
	overflow-x: scroll;
	flex-direction: row;
}

#date-box{
	display: flex;
	flex-direction: column;
}

#date-box #date{
		width: 100px;
		text-align: left;
}
#date-box #ondate{
	text-align: right;
	color: #d12106;
	font-size: 20px;
	width: 300px;
}

#date-box #img{
	height: 100px;
	padding: 30px;
}

#date-box #img img{
	max-width: 100%;
	max-height: 100%;
}

#calendar li{
	margin: 20px;
	display: block;
	background-color: #090b1a;
}

img.icon{
	width: 200px;
	height: 200px;
	filter: invert(60%) sepia(35%) saturate(2849%) hue-rotate(138deg) brightness(100%) contrast(101%);
}


